In [51]:
!pip install xgboost

Requirement already satisfied: xgboost in c:\users\manoj\anaconda4\lib\site-packages (3.0.2)
Requirement already satisfied: numpy in c:\users\manoj\anaconda4\lib\site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in c:\users\manoj\anaconda4\lib\site-packages (from xgboost) (1.13.1)

In [52]:
!pip install catboost

Requirement already satisfied: catboost in c:\users\manoj\anaconda4\lib\site-packages (1.2.8)
Requirement already satisfied: graphviz in c:\users\manoj\anaconda4\lib\site-packages (from catboost) (0.20.3)
Requirement already satisfied: matplotlib in c:\users\manoj\anaconda4\lib\site-packages (from catboost) (3.9.2)
Requirement already satisfied: numpy<3.0,>=1.16.0 in c:\users\manoj\anaconda4\lib\site-packages (from catboost) (1.26.4)
Requirement already satisfied: pandas>=0.24 in c:\users\manoj\anaconda4\lib\site-packages (from catboost) (2.2.2)
Requirement already satisfied: scipy in c:\users\manoj\anaconda4\lib\site-packages (from catboost) (1.13.1)
Requirement already satisfied: plotly in c:\users\manoj\anaconda4\lib\site-packages (from catboost) (5.24.1)
Requirement already satisfied: six in c:\users\manoj\appdata\roaming\python\python312\site-packages (from catboost) (1.17.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\manoj\appdata\roaming\python\python312\site-packages (from pandas>=0.24->catboost) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\manoj\anaconda4\lib\site-packages (from pandas>=0.24->catboost) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\manoj\anaconda4\lib\site-packages (from pandas>=0.24->catboost) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\manoj\anaconda4\lib\site-packages (from matplotlib->catboost) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\manoj\anaconda4\lib\site-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\manoj\anaconda4\lib\site-packages (from matplotlib->catboost) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\manoj\anaconda4\lib\site-packages (from matplotlib->catboost) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\manoj\appdata\roaming\python\python312\site-packages (from matplotlib->catboost) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\manoj\anaconda4\lib\site-packages (from matplotlib->catboost) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\manoj\anaconda4\lib\site-packages (from matplotlib->catboost) (3.1.2)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\manoj\anaconda4\lib\site-packages (from plotly->catboost) (8.2.3)

In [53]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error
from sklearn.neighbors import KNeighborsRegressor 
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
import warnings

In [54]:
df=pd.read_csv('Data/StudentsPerformance.csv')

In [55]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [56]:
numerical=x.select_dtypes(include=['int64', 'float64']).columns
categorical=x.select_dtypes(include=['object']).columns
print("Numerical Columns:")
print(numerical)
print("Categorical Columns:")
print(categorical)

AttributeError: 'numpy.ndarray' object has no attribute 'select_dtypes'

In [ ]:
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer 
numeric_trans=StandardScaler()
oh_trans=OneHotEncoder()
preprocessor=ColumnTransformer(
[
    ("OneHotEncoder",oh_trans,categorical)
    ,("StandardScaler",numeric_trans,numerical)
]
)

In [ ]:
x=df.drop(columns='math score')
y=df['math score']
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [ ]:
x=preprocessor.fit_transform(x)
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:
def evaluate(true,pred):
    mse=mean_squared_error(true,pred)
    r2=r2_score(true,pred)
    rmse=np.sqrt(mse)
    mae=mean_absolute_error(true,pred)
    print(f'Mean Squared Error: {mse}')
    print(f'R^2 Score: {r2}')
    print(f'Root Mean Squared Error: {rmse}')
    print(f'Mean Absolute Error: {mae}')
    return mse,r2

In [ ]:
models={
    "LinearRegression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "KNeighborsRegressor": KNeighborsRegressor(),
    "DecisionTreeRegressor": DecisionTreeRegressor(),
    "AdaBoostRegressor": AdaBoostRegressor(),
    "RandomForestRegressor": RandomForestRegressor(),
    "SVR": SVR(),
    "CatBoostRegressor": CatBoostRegressor(verbose=0),
    "XGBRegressor": XGBRegressor(eval_metric='rmse', verbosity=0)
    
}

In [ ]:
for model in models:
    print(f"Training {model}...")
    models[model].fit(x_train, y_train)
    y_pred = models[model].predict(x_test)
    print(f"Results for {model}:")
    evaluate(y_test, y_pred)
    print("\n")

Training LinearRegression...
Results for LinearRegression:
Mean Squared Error: 29.095169866715516
R^2 Score: 0.8804332983749564
Root Mean Squared Error: 5.393993869732845
Mean Absolute Error: 4.214763142474852


Training Lasso...
Results for Lasso:
Mean Squared Error: 42.506416838411624
R^2 Score: 0.8253197323627852
Root Mean Squared Error: 6.519694535667421
Mean Absolute Error: 5.157881810347763


Training Ridge...
Results for Ridge:
Mean Squared Error: 29.056272192348278
R^2 Score: 0.8805931485028738
Root Mean Squared Error: 5.390387016935637
Mean Absolute Error: 4.21110068801426


Training KNeighborsRegressor...
Results for KNeighborsRegressor:
Mean Squared Error: 52.553799999999995
R^2 Score: 0.7840299763621361
Root Mean Squared Error: 7.249399975170358
Mean Absolute Error: 5.609


Training DecisionTreeRegressor...
Results for DecisionTreeRegressor:
Mean Squared Error: 60.87
R^2 Score: 0.7498545235770433
Root Mean Squared Error: 7.801922839915811
Mean Absolute Error: 6.18


Training AdaBoostRegressor...
Results for AdaBoostRegressor:
Mean Squared Error: 37.51557110438301
R^2 Score: 0.8458296302417415
Root Mean Squared Error: 6.1249956003562165
Mean Absolute Error: 4.825279551339206


Training RandomForestRegressor...
Results for RandomForestRegressor:
Mean Squared Error: 35.91295337847223
R^2 Score: 0.8524155933528279
Root Mean Squared Error: 5.992741724659275
Mean Absolute Error: 4.632945833333333


Training SVR...
Results for SVR:
Mean Squared Error: 66.04200493745648
R^2 Score: 0.7286001513223705
Root Mean Squared Error: 8.126623218622633
Mean Absolute Error: 5.401539244496997


Training CatBoostRegressor...
Results for CatBoostRegressor:
Mean Squared Error: 36.10365799356841
R^2 Score: 0.8516318920747058
Root Mean Squared Error: 6.008631956907363
Mean Absolute Error: 4.612531714976557


Training XGBRegressor...
Results for XGBRegressor:
Mean Squared Error: 41.90370826987466
R^2 Score: 0.8277965784072876
Root Mean Squared Error: 6.4733073671713335
Mean Absolute Error: 5.057730598449707